@using real_estate_agency.Resources;

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Real Estate Agency</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <link rel="shortcut icon" href="~/Content/images/shortcut.png">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">Real Estate Agency</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsblock" aria-controls="navbarsblock" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsblock">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink(Resource.AddAd, "Add", "Ads", null, new { @class = "nav-link" })
                </li>
                @{
                    if (User?.Identity.IsAuthenticated ?? false)
                    {
                        <li class="nav-item">
                            @{
                                string cabinet = Resource.PersonalCabinet + ViewBag.NotifCount;
                            }
                            @Html.ActionLink(cabinet, "Index", "Cabinet", null, new { @class = "nav-link", id = "cabinet-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(Resource.Logout, "Logout", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink(Resource.Login, "Login", "Account", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink(Resource.Register, "Register", "Account", null, new { @class = "nav-link" })</li>
                    }
                }
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @if (Request.Cookies["Language"] != null)
                        {
                            if (Request.Cookies["Language"].Value == "ru")
                            {
                                <span>RU</span>
                            }
                            else if (Request.Cookies["Language"].Value == "uk")
                            {
                                <span>UA</span>
                            }
                        }
                        else
                        {
                            <span>RU</span>
                        }
                    </a>
                    <div class="dropdown-menu lang-switcher">
                        @Html.ActionLink("Русский", "Change", "Language", new { LanguageAbbreviation = "ru" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Українська", "Change", "Language", new { LanguageAbbreviation = "uk" }, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
