@using Microsoft.AspNet.Identity;
@using real_estate_agency.Models;
@using System.Web.Optimization;
@using real_estate_agency.Resources;

@model Ad

@{
    Layout = "~/Views/Shared/header.cshtml";
}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4">@Resource.AddNewAd</h3>
                @using (Html.BeginForm("Add", "Ads", FormMethod.Post, new { enctype = "multipart/form-data", @class = "add-ad" }))
                {
                    <input type="hidden" name="UserAuthorId" value="@User.Identity.GetUserId()" />
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                    <input type="hidden" value="@User.Identity.Name" name="Author" />
                    <div class="form-group">
                        <label for="addPrevImage">@Resource.AddEditImageOnPreview</label>
                        <input id="addPrevImage" class="form-control" type="file" name="uPrevImage" accept="image/*" />
                    </div>
                    <div class="form-group">
                        <label for="addHeader">@Resource.AddEditHeader</label>
                        <input id="addHeader" class="form-control" type="text" name="Title" />
                    </div>
                    <div class="form-group">
                        <label for="addCategory">@Resource.AddEditCategory</label>
                        <select id="addCategory" class="form-control" name="Category">
                            @{
                                List<Category> catlist = real_estate_agency.Infrastructure.CategoryManager.GetCategoryList();
                                foreach (Category cat in catlist)
                                {
                                    if (cat.IsOwn)
                                    {
                                        <option>@cat.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addType">@Resource.AddEditType</label>
                        <select id="addType" class="form-control" name="Type">
                            @{
                                List<Types> typelist = real_estate_agency.Infrastructure.TypeManager.GetTypeList();
                                foreach (Types t in typelist)
                                {
                                    if (t.IsOwn)
                                    {
                                        <option>@t.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addAddress">@Resource.AddEditAddress</label>
                        <input id="addAddress" class="form-control" type="text" name="Address" />
                    </div>
                    <div class="form-group">
                        <label for="addArea">@Resource.AddEditArea</label>
                        <input id="addArea" class="form-control" type="number" name="Area" />
                    </div>
                    <div class="form-group">
                        <label for="addQuantity">@Resource.AddEditQuantity</label>
                        <input id="addQuantity" class="form-control" type="number" name="Value" />
                        <select class="form-control" name="Currency">
                            @{
                                List<CurrencyRate> list = real_estate_agency.Infrastructure.CurrencyOperations.GetCurrentExchangeRate();
                                foreach (CurrencyRate item in list)
                                {
                                    <option>@item.NameCode</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addDescription">@Resource.AddEditDetails</label>
                        <textarea id="addDescription" class="form-control" name="Details"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="addFloor">@Resource.AddEditFloor</label>
                        <input id="addFloor" class="form-control" type="number" name="Floors" />
                    </div>
                    <div class="form-group">
                        <label for="addFloorsCount">@Resource.AddEditFloorsCount</label>
                        <input id="addFloorsCount" class="form-control" type="number" name="FloorsCount" />
                    </div>
                    <div class="form-group">
                        <label for="addRoomsCount">@Resource.AddEditRoomsCount</label>
                        <input id="addRoomsCount" class="form-control" type="number" name="RoomsCount" />
                    </div>
                    <div class="form-group">
                        <label>@Resource.AddEditPhones</label>
                        <div id="phonediv">
                            <div class="but form-group">
                                <input class="form-control btn-danger" type="button" value="Х" id="delete0"
                                       onclick="$('#Phone0').remove(); $('#delete0').remove();" />
                                <input class="form-control" type="tel" name="Phone0" id="Phone0" />
                            </div>
                        </div>
                        <input class="form-control btn-info" type="button" value="+" onclick="add_phone_field();" />
                    </div>
                    <div class="form-group">
                        <label>@Resource.AddEditPhotos</label>
                        <div id="photodiv">
                            <div class="but form-group">
                                <input class="form-control btn-danger" type="button" value="Х" id="remove0" onclick="$('#Images0').remove(); $('#remove0').remove();" />
                                <input class="form-control" type="file" accept="image/*" name="Images0" id="Images0" />
                            </div>
                        </div>
                        <input class="form-control btn-info" type="button" value="+" onclick="add_photo_field();" />
                    </div>
                    <div class="form-group">
                        <input class="form-control btn-success" type="submit" value="@Resource.AddButton" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/additional-fields")
