@using Microsoft.AspNet.Identity;
@using real_estate_agency.Models;
@using System.Web.Optimization;

@model Ad

@{
    Layout = "~/Views/Shared/header.cshtml";
}

<main>
    <div class="add-title">
        <h2>Add something new</h2>
    </div>
    @using (Html.BeginForm("Add", "Ads", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="UserAuthorId" value="@User.Identity.GetUserId()" />
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <div class="add-container">
            <table class="add-table">
                <tr>
                    <th>PrevImage</th>
                    <td><input type="file" name="uPrevImage" accept="image/*" /></td>
                </tr>
                <tr>
                    <th>Заголовок</th>
                    <td><input type="text" name="Title" /></td>
                </tr>
                <tr>
                    <th>Категория</th>
                    <td>
                        <select name="Category">
                            @{ 
                                List<Category> catlist = real_estate_agency.Infrastructure.CategoryManager.GetCategoryList();
                                foreach(Category cat in catlist)
                                {
                                    if (cat.IsOwn)
                                    {
                                        <option>@cat.Name</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Тип</th>
                    <td>
                        <select name="Type">
                            @{ 
                                List<Types> typelist = real_estate_agency.Infrastructure.TypeManager.GetTypeList();
                                foreach(Types t in typelist)
                                {
                                    if (t.IsOwn)
                                    {
                                        <option>@t.Name</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <th>Площадь</th>
                    <td><input type="number" name="Area" /></td>
                </tr>
                <tr>
                    <th>Автор</th>
                    <td><input type="text" name="Author" /></td>
                </tr>
                <tr>
                    <th>Цена</th>
                    <td>
                        <input type="number" name="Value" /> 
                        <select name="Currency">
                            @{
                                List<CurrencyRate> list = real_estate_agency.Infrastructure.CurrencyOperations.GetCurrentExchangeRate();
                                foreach(CurrencyRate item in list)
                                {
                                    <option>@item.NameCode</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td><textarea name="Details"></textarea></td>

                </tr>
                <tr>
                    <th>Этаж</th>
                    <td><input type="number" name="Floors" /></td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td><input type="number" name="FloorsCount" /></td>
                </tr>
                <tr>
                    <th>Количество комнат</th>
                    <td><input type="number" name="RoomsCount" /></td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    <td>
                        <div id="phonediv">
                            <div class="but">
                                <input type="button" value="Х" id="delete0" 
                                       onclick="$('#Phone0').remove(); $('#delete0').remove();" 
                                       /><input type="tel" name="Phone0" id="Phone0" />
                            </div>
                        </div>
                        <input type="button" value="+" onclick="add_phone_field();" />
                    </td>
                </tr>
                <tr>
                    <th>Фотографии</th>
                    <td>
                        <div id="photodiv">
                            <div class="but">
                                <input type="button" value="Х" id="remove0" onclick="$('#Images0').remove(); $('#remove0').remove();" />
                                <input type="file" accept="image/*" name="Images0" id="Images0" />
                            </div>
                        </div>
                        <input type="button" value="+" onclick="add_photo_field();" />
                    </td>
                </tr>
                <tr>
                    <td class="add-submit" colspan="2"><input type="submit" value="Добавить" /></td>
                </tr>
            </table>
        </div>
                            }
</main>

@Scripts.Render("~/bundles/additional-fields")