@using real_estate_agency.Models;
@model Ad
@using System.Web.Optimization
@using real_estate_agency.Infrastructure

@{
    Layout = "~/Views/Shared/header.cshtml";
}

@Styles.Render("~/Content/fancybox")

<script>
    var viewModel = { phones: ko.observableArray() }

    $(document).ready(function () {
        ko.applyBindings(viewModel);
    });

    function showPhone() {

         $.ajax({
             type: "GET",
             url: "/Home/GetPhoneAjax",
             data: {"id" : @Model.Id },
             contentType: "application/json; charset=utf-8",
             success: function (response, status) {
                 viewModel.phones.push.apply(viewModel.phones, response);
             },
             failure: function (response) {
                 alert(response);
             }
         });
     }
</script>
<main>

    @{
        <div style="text-align: right;">
            @if (Model.AdUrl != null)
            {
                <a href="@Model.AdUrl" class="origin">Go to origin</a>
            }
            else
            {
                <p class="origin">It is origin</p>
            }
        </div>
        <div class="information">
            <div class="detail-title">
                <h2>@Model.Title</h2>
            </div>
            <div style="text-align: right;">
                @if (UserStatusDirectory.UserCanDeleteAd(User, Model))
                {
                    @Html.ActionLink("Remove", "Remove", "Ads", new { id = Model.Id, returnUrl = ViewBag.ReturnUrl }, new { @class = "" })
                }
                @if (UserStatusDirectory.IsOwnerOfAd(User, Model))
                {
                    @Html.ActionLink("Edit", "Edit", "Ads", new { id = Model.Id, fromDetailsUrl = ViewBag.FromDetailsUrl }, new { @class = "" })
                }
            </div>
            <div class="row">
                <div class="prev-image">
                    <a class="single-item" href="@Url.Content(Model.PrevImage)"><img src='@Url.Content(Model.PrevImage)' /></a>
                </div>
                <div class="general-info">
                    <p><strong>Тип: </strong>@Model.Type </p>
                    <p><strong>Адрес: </strong><span id="Address">@Model.Address</span> </p>
                    <p><strong>Количество комнат: </strong> @Model.RoomsCount-комнатная </p>
                    @if (Model.Floors != 0 && Model.FloorsCount != 0)
                    {
                        <p><strong>Этажность: </strong>   @Model.Floors из @Model.FloorsCount </p>
                    }
                    else if (Model.FloorsCount == 0 && Model.Floors != 0)
                    {
                        <p><strong>Этажность: </strong> @Model.Floors</p>
                    }
                    @if (Model.Area != null)
                    {
                        <p><strong>Площадь: </strong>@Model.Area </p>
                    }
                    <p><strong>Цена: </strong>   @Model.Value </p>
                    <p><strong>Арендатор: </strong>@Model.Author </p>
                    <div class="phone-set">
                        <p><strong>Телефон(ы): </strong></p>
                        @foreach (var phoneItem in StringImgPhoneConverter.StringToList(Model.Phone))
                        {
                            <p>@phoneItem</p>
                        }
                        <ul data-bind="foreach: phones">
                            <li data-bind="text: $data"></li>
                        </ul>
                        <form id="frm" method="get">
                            <button id="button" type="button" onclick="showPhone()">Click</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="description">
                <p>@Model.Details</p>
            </div>
            <div class="image-set">
                @foreach (var img in StringImgPhoneConverter.StringToList(Model.Images))
                {
                    <a class="group-item" rel="group" href="@Url.Content(img)"><img src='@Url.Content(img)' /></a>
                }
            </div>
            <div class="map-block">
                <div id="map"></div>
            </div>


        </div>
    }
</main>

@Scripts.Render("~/bundles/fancybox")
@Scripts.Render("~/bundles/fancybox-gallery-single")
@Scripts.Render("~/bundles/fancybox-gallery-group")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs0eQvxU2jsqf71-Smlevn-NsX8W_V74g&callback=initMap"></script>
<script src="~/Scripts/mapInitialize.js"></script>