@using real_estate_agency.Models;
@using real_estate_agency.Resources;
@model Ad
@{
    Layout = "~/Views/Shared/header.cshtml";
}

@using real_estate_agency.Infrastructure;

<div class="add-edit-page container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4">@Resource.EditAd</h3>
                @using (Html.BeginForm("Edit", "Ads", FormMethod.Post, new { enctype = "multipart/form-data", @class = "edit-ad" }))
                {
                    <input type="hidden" name="UserAuthorId" value="@Model.UserAuthorId" />
                    <input type="hidden" name="AdUrl" value="@Model.AdUrl" />
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                    <input type="hidden" name="fromDetailsUrl" value="@ViewBag.FromDetailsUrl" /> <!--special for freaking Details-->
                    <input type="hidden" name="Author" value="@User.Identity.Name" />

                    @Html.ActionLink(Resource.AddEditRemoveAd, "Remove", "Ads", new { id = Model.Id, returnUrl = ViewBag.ReturnUrl }, new { onclick = "return confirm('Действительно удалить?');", style = "color:red;" })
                    <div class="form-group">
                        <img class="prev-image" src="@(Model.PrevImage)" />
                        <input type="hidden" name="PrevImage" value="@Model.PrevImage" />
                        <br />
                        <label for="editPrevImage">@Resource.AddEditImageOnPreview</label>
                        <input id="editPrevImage" class="form-control" type="file" name="uPrevImage" accept="image/*" />
                    </div>
                    <div class="form-group">
                        <label for="editHeader">@Resource.AddEditHeader</label>
                        <input id="editHeader" class="form-control" type="text" name="Title" value="@Model.Title" />
                    </div>
                    <div class="form-group">
                        <label for="editCategory">@Resource.AddEditCategory</label>
                        <select id="editCategory" class="form-control" name="Category">
                            @{
                                List<Category> catlist = real_estate_agency.Infrastructure.CategoryManager.GetCategoryList();
                                foreach (Category cat in catlist)
                                {
                                    if (cat.IsOwn)
                                    {
                                        if (Model.Category == cat.Name)
                                        {
                                            <option selected="selected">@cat.Name</option>
                                        }
                                        else
                                        {
                                            <option>@cat.Name</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editType">@Resource.AddEditType</label>
                        <select id="editType" class="form-control" name="Type">
                            @{
                                List<Types> typelist = real_estate_agency.Infrastructure.TypeManager.GetTypeList();
                                foreach (Types t in typelist)
                                {
                                    if (t.IsOwn)
                                    {
                                        if (Model.Type == t.Name)
                                        {
                                            <option selected="selected">@t.Name</option>
                                        }
                                        else
                                        {
                                            <option>@t.Name</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editAddress">@Resource.AddEditAddress</label>
                        <input id="editAddress" class="form-control" type="text" name="Address" value="@Model.Address" />
                    </div>
                    <div class="form-group">
                        <label for="editArea">@Resource.AddEditArea</label>
                        <input id="editArea" class="form-control" type="number" name="Area" value="@Model.Area" />
                    </div>
                    <div class="form-group">
                        <label for="editQuantity">@Resource.AddEditQuantity</label>
                        <input id="editQuantity" class="form-control" type="number" name="Value" value="@Model.Value" />
                        <select class="form-control" name="Currency">
                            @{
                                List<CurrencyRate> list = real_estate_agency.Infrastructure.CurrencyOperations.GetCurrentExchangeRate();
                                foreach (CurrencyRate item in list)
                                {
                                    if (Model.Currency == item.NameCode)
                                    {
                                        <option selected="selected">@item.NameCode</option>
                                    }
                                    else
                                    {
                                        <option>@item.NameCode</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editDescription">@Resource.AddEditDetails</label>
                        <textarea id="editDescription" class="form-control" name="Details">@Model.Details</textarea>
                    </div>
                    <div class="form-group">
                        <label for="editFloor">@Resource.AddEditFloor</label>
                        <input id="editFloor" class="form-control" type="number" name="Floors" value="@Model.Floors" />
                    </div>
                    <div class="form-group">
                        <label for="editFloorsCount">@Resource.AddEditFloorsCount</label>
                        <input id="editFloorsCount" class="form-control" type="number" name="FloorsCount" value="@Model.FloorsCount" />
                    </div>
                    <div class="form-group">
                        <label for="editRoomsCount">@Resource.AddEditRoomsCount</label>
                        <input id="editRoomsCount" class="form-control" type="number" name="RoomsCount" value="@Model.RoomsCount" />
                    </div>
                    <div class="form-group">
                        <label>@Resource.AddEditPhones</label>
                        <div id="phonediv">
                            @{
                                if (Model.Phone.IsEmpty())
                                {
                                    <div class="but form-group">
                                        <input class="form-control add-edit-phone-photo-field" type="tel" name="Phone0" id="Phone0" />
                                        <input class="form-control add-edit-phone-photo-remove-button" type="button" value="Х" id="delete0"
                                               onclick="$('#Phone0').remove(); $('#delete0').remove();" />

                                    </div>
                                }
                                int j = 0;
                                foreach (var phoneItem in StringImgPhoneConverter.StringToList(Model.Phone))
                                {
                                    string name = "Phones" + j.ToString();
                                    string button_name = "delete" + j.ToString();
                                    j++;
                                    <div class="but form-group">
                                        <input class="form-control add-edit-phone-photo-field" type="tel" name="@name" id="@name" value="@phoneItem" />
                                        <input class="form-control add-edit-phone-photo-remove-button" type="button" value="Х" id="@button_name"
                                               onclick="$('#@name').remove(); $('#@button_name').remove();" />
                                    </div>
                                }
                            }
                        </div>
                        <input class="form-control add-edit-phone-photo-add-button" type="button" value="+" onclick="add_phone_field();" />
                    </div>
                    <div class="form-group">
                        <label>@Resource.AddEditPhotos</label>
                        <div id="photodiv">
                            @{
                                int i = 0;
                                foreach (var img in StringImgPhoneConverter.StringToList(Model.Images))
                                {
                                    string name = "Photos" + i.ToString();
                                    string remove_check = "remove_check-" + i.ToString();
                                    <img class="prev-image" name="@name" id="@name" src="@(img)" />

                                    @Html.CheckBox(remove_check, true, new { @id = "removeit" })
                                    i++;
                                }
                                if (Model.Images.IsEmpty())
                                {
                                    <div class="but form-group">
                                        <input class="form-control add-edit-phone-photo-field" type="file" accept="image/*" name="Images0" id="Images0" />
                                        <input class="form-control add-edit-phone-photo-remove-button" type="button" name="remove0" id="remove0" value="X"
                                               onclick="$('#Images0').remove(); $('#remove0').remove(); " />
                                    </div>
                                }
                            }
                        </div>
                        <input class="form-control add-edit-phone-photo-add-button" type="button" value="+" onclick="add_photo_field();" />
                    </div>
                    <div class="form-group">
                        <input class="form-control add-edit-button" type="submit" value="@Resource.ChangeButton" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/additional-fields")
