@using real_estate_agency.Models
@using real_estate_agency.Resources;
@model IEnumerable<Price>

@{
    ViewBag.Title = "BuyPremium";
    Layout = "~/Views/Shared/header.cshtml";
}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h4 class="text-center mb-5">@Resource.BuyPremium</h4>

                <div class="col-md-12 mx-auto">
                    @if (!ViewBag.IsPremium)
                    {
                        foreach (Price price in Model)
                        {
                            <div>
                                <div class="premium-information"><b style="width: 150px; display: inline-block;">@Resource.PremiumDuration:</b> @price.Days @Resource.PremiumOnDays!</div>
                                <div class="premium-quantity"><b style="width: 150px; display: inline-block;">@Resource.PremiumQuantity:</b> @price.Amount грн</div>
                                @using (Html.BeginForm("BuyPremium", "Cabinet", FormMethod.Post))
                                {
                                    <input type="hidden" name="amount" value="@price.Amount" />
                                    <input type="hidden" name="days" value="@price.Days" />
                                    <br />
                                    <button class="premium-button btn btn-primary" type="submit">@Resource.PremiumBuyButton</button>
                                }
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        <p style="text-align: center;">@Resource.PremiumWarning!</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

