@using real_estate_agency.Models.ViewModels;
@model ChangeProfileViewModel

<h4 class="text-center mb-5">Настройки профиля</h4>

<div class="col-md-6 mx-auto">
    @Html.ValidationSummary(false)
    <fieldset>
        @using (Ajax.BeginForm("ChangeProfile", "Cabinet", null, new AjaxOptions { UpdateTargetId = "change-profile" }))
        {
            if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <div class="success-message">@ViewBag.SuccessMessage</div>
            }
            @Html.HiddenFor(x => x.IdProfile)
            <div class="form-group">
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control input-lg", @placeholder = "Введите логин" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-lg", @placeholder = "Введите имя" })
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Сменить</button>
        }
    </fieldset>
</div>