@using real_estate_agency.Models.ViewModels;
@model ChangePasswordViewModel

<h4 class="text-center mb-5">Сменить пароль</h4>

<div class="col-md-6 mx-auto">
    @Html.ValidationSummary(false)
    <fieldset>
        @using (Ajax.BeginForm("ChangePassword", "Cabinet", null, new AjaxOptions { UpdateTargetId = "change-password" }))
        {
            if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <div class="success-message">@ViewBag.SuccessMessage</div>
            }
            @Html.HiddenFor(x => x.IdPassword)
            <div class="form-group">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control input-lg", @placeholder = "Текущий пароль" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control input-lg", @placeholder = "Новый пароль" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control input-lg", @placeholder = "Подтвердите новый пароль" })
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Сменить</button>
        }
    </fieldset>
</div>