@using real_estate_agency.Models.ViewModels;
@model ChangePasswordViewModel

<h2>Сменить пароль</h2>
@using (Ajax.BeginForm("ChangePassword", "Cabinet", null, new AjaxOptions { UpdateTargetId = "change-password" }))
{
    @Html.ValidationSummary(false)
    if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div style="color:green">@ViewBag.SuccessMessage</div>
    }
    @Html.HiddenFor(x => x.IdPassword)
    <div>
        <label>Текущий пароль:</label>
        @Html.PasswordFor(x => x.Password)
    </div>
    <div>
        <label>Новый пароль:</label>
        @Html.PasswordFor(x => x.NewPassword)
    </div>
    <div>
        <label>Подтвердите новый пароль:</label>
        @Html.PasswordFor(x => x.ConfirmNewPassword)
    </div>
    <button type="submit">ОК</button>
}
