@using real_estate_agency.Infrastructure;
@model PaymentData
@{
    ViewBag.Title = "ConfirmPayment";
    Layout = "~/Views/Shared/header.cshtml";
}

<h3>К оплате:</h3>
<div>
    <div>
        Номер квитанции: @Model.Payment.Id
        Длительность: @Model.Payment.Days дней.
        Сумма: @Model.Payment.Amount грн.
    </div>
    <i>После подтверждения вы будете перенаправлены на страницу оплаты LiqPay</i>
    <form method="POST" action="https://www.liqpay.com/api/3/checkout" accept-charset="utf-8">
        <input type="hidden" name="data" value="@Model.Data" />
        <input type="hidden" name="signature" value="@Model.Signature" />
        <button type="submit">Подтвердить</button>
    </form>
</div>

