@using real_estate_agency.Models;
@using real_estate_agency.Infrastructure;

@model AppUser
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        function notificationLinkClick() {
            document.getElementById("notif-link").innerHTML = "Оповещения";
            document.getElementById("cabinet-link").innerHTML = "Кабинет";
        }
    </script>
</head>
<body>
    <div>
        <h1>Личный кабинет</h1>
        <!--Menu-->
        <ul>
            <li>
                @Ajax.ActionLink("Мои объявления", "MyAds", "Cabinet",
    new AjaxOptions() { UpdateTargetId = "contentDisplay" })
            </li>
            <li>
                @Ajax.ActionLink("Мои закладки", "MyMarks", "Cabinet",
    new AjaxOptions() { UpdateTargetId = "contentDisplay" })
            </li>
            <li>
                @Ajax.ActionLink("Мои платежи", "MyPayments", "Cabinet",
    new AjaxOptions() { UpdateTargetId = "contentDisplay" })
            </li>
            <li>
                @Html.ActionLink("Приобрести премиум подписку", "BuyPremium", "Cabinet")
            </li>
            <li>
                @{ 
                    string notif = "Оповещения " + ViewBag.NotifCount;
                }
                @Ajax.ActionLink(notif, "MyNotifications", "Cabinet", null,
    new AjaxOptions() { UpdateTargetId = "contentDisplay" },
    new { onclick = "notificationLinkClick()", id = "notif-link" })
            </li>
            <li>
                @Ajax.ActionLink("Профиль", "ProfileSettings", "Cabinet",
    new AjaxOptions() { UpdateTargetId = "contentDisplay" })
            </li>
            @if (UserStatusDirectory.IsAdmin(User))
            {
                @Html.ActionLink("Административная панель", "AdminPanel", "Admin");
            }
            else if (UserStatusDirectory.IsModerator(User))
            {
                @Html.ActionLink("Страница модератора", "ModeratorPanel", "Moderator");
            }
        </ul>
    </div>

    <div id="contentDisplay">
        @{Html.RenderAction("MyAds", "Cabinet");}
    </div>
</body>
</html>
