@using real_estate_agency.Models;
@using real_estate_agency.Infrastructure;

@model AppUser
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        function notificationLinkClick() {
            document.getElementById("notif-link").innerHTML = "Оповещения";
            document.getElementById("cabinet-link").innerHTML = "Кабинет";
        }
    </script>
</head>
<body>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Личный кабинет</h3>
                    <div class="nav-container cabinet col-xl-12 mx-auto">
                        <div class="row">
                            <div class="cabinet-item col">
                                @Ajax.ActionLink("Мои объявления", "MyAds", "Cabinet", new AjaxOptions() { UpdateTargetId = "contentDisplay" })
                            </div>
                            <div class="cabinet-item col">
                                @Ajax.ActionLink("Мои закладки", "MyMarks", "Cabinet", new AjaxOptions() { UpdateTargetId = "contentDisplay" })
                            </div>
                            <div class="cabinet-item col">
                                @{
                                    string notif = "Оповещения " + ViewBag.NotifCount;
                                }
                                @Ajax.ActionLink(notif, "MyNotifications", "Cabinet", null, new AjaxOptions() { UpdateTargetId = "contentDisplay" },
                               new { onclick = "notificationLinkClick()", id = "notif-link" })
                            </div>
                            <div class="cabinet-item col">
                                @Ajax.ActionLink("Профиль", "ProfileSettings", "Cabinet", new AjaxOptions() { UpdateTargetId = "contentDisplay" })
                            </div>
                            @if (PermissionDirectory.IsAdmin(User))
                            {
                                <div class="cabinet-item col">
                                    @Html.ActionLink("Административная панель", "AdminPanel", "Admin")
                                </div>

                            }
                            else if (PermissionDirectory.IsModerator(User))
                            {
                                <div class="container-item col">
                                    @Html.ActionLink("Страница модератора", "ModeratorPanel", "Moderator");
                                </div>

                            }
                        </div>
                    </div>
                    <div id="contentDisplay">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $(".cabinet-item a").click(function () {
                $(".cabinet-item a").removeClass("active");
                $(this).toggleClass("active");
            })
        });
    </script>
</body>
</html>
