@using real_estate_agency.Models;
@using real_estate_agency.Infrastructure;
@using real_estate_agency.Resources;

@model AppUser
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        function notificationLinkClick() {
            document.getElementById("notif-link").innerHTML = @Resource.Notifications;
            document.getElementById("cabinet-link").innerHTML = @Resource.PersonalCabinet;
        }
    </script>
</head>
<body>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">@Resource.PersonalCabinet</h3>
                    <div class="nav-container cabinet col-xl-12 mx-auto">
                        <div class="row">
                            <div class="cabinet-item col">
                                @Ajax.ActionLink(Resource.MyAds, "MyAds", "Cabinet", new AjaxOptions() { UpdateTargetId = "contentDisplay" })
                            </div>
                            <div class="cabinet-item col">
                                @Ajax.ActionLink(Resource.MyBookmarks, "MyMarks", "Cabinet", new AjaxOptions() { UpdateTargetId = "contentDisplay" })
                            </div>
                            <div class="cabinet-item col">
                                @Ajax.ActionLink(Resource.MyPayments, "MyPayments", "Cabinet", new AjaxOptions() { UpdateTargetId = "contentDisplay" })
                            </div>
                            <div class="cabinet-item col">
                                @Html.ActionLink(Resource.BuyPremium, "BuyPremium", "Cabinet")
                            </div>
                            <div class="cabinet-item col">
                                @{
                                    string notif = Resource.Notifications + " " + ViewBag.NotifCount;
                                }
                                @Ajax.ActionLink(notif, "MyNotifications", "Cabinet", null, new AjaxOptions() { UpdateTargetId = "contentDisplay" },
                                    new { onclick = "notificationLinkClick()", id = "notif-link" })
                            </div>
                            <div class="cabinet-item col">
                                @Ajax.ActionLink(Resource.Profile, "ProfileSettings", "Cabinet", new AjaxOptions() { UpdateTargetId = "contentDisplay" })
                            </div>
                            @if (UserStatusDirectory.IsAdmin(User))
                            {
                                <div class="cabinet-item col">
                                    @Html.ActionLink(Resource.AdminPanel, "AdminPanel", "Admin")
                                </div>

                            }
                            else if (UserStatusDirectory.IsModerator(User))
                            {
                                <div class="cabinet-item col">
                                    @Html.ActionLink(Resource.ModeratorPanel, "ModeratorPanel", "Moderator");
                                </div>

                            }
                        </div>
                    </div>
                    <div id="contentDisplay">
                        @{Html.RenderAction("MyAds", "Cabinet");}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $(".cabinet-item a").click(function () {
                $(".cabinet-item a").removeClass("active");
                $(this).toggleClass("active");
            })
        });
    </script>
</body>
</html>
