@using real_estate_agency.Models;
@using real_estate_agency.Resources;
@model IEnumerable<Ad>

<div>
    <h2>@Resource.MyAds</h2>
    @if ((Model?.Count() ?? 0) == 0)
    {
        <h2>@Resource.NoAds</h2>
    }
    else
    {
        <div class="block col-md-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="box col-md-6">
                        @Html.ActionLink(" ", "Edit", "Ads", new { id = item.Id }, new { @class = "edit" })
                        @Html.ActionLink(" ", "Remove", "Ads",
                               new { id = item.Id },
                               new
                               {
                                   @class = "remove",
                                   onclick = "return confirm('Действительно удалить?');"
                               })
                        <p class="title">@item.Title</p>
                        <div class="row">
                            <div class="img-box">
                                <img src="@Url.Content(item.PrevImage)">
                            </div>
                            <div class="text-box">
                                <p><strong>Тип:</strong> @item.Type</p>
                                <p><strong>Адрес:</strong> @item.Address</p>
                                <p><strong>Стоимость:</strong> @item.Value @item.Currency</p>
                                <p>@Html.ActionLink(Resource.Details, "Details", "Ads", new { id = item.Id }, new { @class = "" })</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
