@using real_estate_agency.Models;
@using real_estate_agency.Resources;
@using real_estate_agency.Infrastructure;
@using real_estate_agency.Resources;
@model IEnumerable<Ad>

<h4 class="text-center mb-5">@Resource.MyAds</h4>

<div class="container">
    @if ((Model?.Count() ?? 0) == 0)
    {
        <h2>@Resource.NoAds</h2>
    }
    else
    {
        <div class="block col-md-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="box col-xl-4 col-md-6 col-sm-12 col-xs-12">
                        @if (UserStatusDirectory.UserCanDeleteAd(User, item))
                        {
                            @Html.ActionLink(" ", "Remove", "Ads",
                                                                 new { id = item.Id },
                                                                 new
                                                                 {
                                                                     @class = "remove",
                                                                     onclick = "return confirm('Действительно удалить?');"
                                                                 })
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!UserStatusDirectory.IsOwnerOfAd(User, item))
                            {
                                <div id="marks-@(item.Id)">
                                    @{Html.RenderAction("Marks", "Ads", new { id = item.Id });}
                                </div>
                            }
                            else
                            {
                                @Html.ActionLink(" ", "Edit", "Ads", new { id = item.Id }, new { @class = "edit" })
                            }
                        }
                        <center><p class="type">@item.Type</p></center>
                        <a class="single-item" href="@(item.PrevImage)">
                            <div class="img-box" style="background-image: url(@(item.PrevImage))">
                                <div class="quantity-box">
                                    <strong>@item.Value @item.Currency</strong>
                                </div>
                            </div>
                        </a>

                        <div class="info-box">
                            <a href="/Ads/Details/@item.Id.ToString()">
                                <div class="alert title">@item.Title</div>
                            </a>
                            <p><strong>@Resource.AddEditCategory:</strong> @item.Category</p>
                            <p><strong>@Resource.AddEditAddress:</strong> @item.Address</p>

                            <p>@Html.ActionLink(Resource.Details, "Details", "Ads", new { id = item.Id }, new { @class = "" })</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    }
</div>
