@using real_estate_agency.Models;
@using real_estate_agency.Resources;
@model IEnumerable<Notification>

<h4 class="text-center mb-5">@Resource.Notifications</h4>

<div class="col-md-6 mx-auto">
    @if ((Model?.Count() ?? 0) == 0)
    {
        <p style="text-align: center;">@Resource.NoNotifications</p>
    }
    else
    {
        foreach (Notification notification in Model)
        {
            <div>
                <div class="notification-date">@notification.Date</div>
                <div class="notification-message">@notification.Message</div>
                @if (notification.Sender != null)
                {
                    <div class="notification-sender">
                        @Resource.From: <span class="notification-sender-name">@notification.Sender.Name</span> |
                        <span class="notification-sender-username">@notification.Sender.UserName</span>
                    </div>
                }
            </div>
            <hr />
        }
    }
</div>

