@using real_estate_agency.Models.ViewModels;
@using real_estate_agency.Resources;
@model RemoveAdViewModel
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoveAd</title>
</head>
<body>
    <div> 
        <h1>@Resource.RemoveUserAd</h1>
        @using (Html.BeginForm("RemoveAd", "Moderator"))
        {
            @Html.HiddenFor(m => m.AdId)
            @Html.HiddenFor(m => m.ReturnURL)

            <label>@Resource.Reason</label>
            @Html.TextAreaFor(m => m.Message)
            
            <button type="submit">@Resource.Delete</button>
        }
    </div>
</body>
</html>
