@using real_estate_agency.Models;
@using real_estate_agency.Infrastructure;
@model IEnumerable<AppUser>

<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th>Логин</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Премиум</th>
            <th>Заблокирован</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AppUser user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                
                <td>
                    @if (UserStatusDirectory.IsPremium(user, HttpContext.Current.GetOwinContext()))
                    {
                        @:+
                    }
                    else
                    {
                        @:-
                    }
                </td>

                @if (user.LockoutEndDateUtc < DateTime.UtcNow || user.LockoutEndDateUtc == null)
                {
                    <td>-</td>
                    <td>@Html.ActionLink("Заблокировать", "BlockUser", "Moderator", new { id = user.Id }, null)</td>
                }
                else
                {
                    if (user.LockoutEndDateUtc != null)
                    {
                        DateTime time = (DateTime)user.LockoutEndDateUtc;
                        <td>до @time</td>
                        <td>@Html.ActionLink("Разблокировать", "DeblockUser", "Moderator", new { id = user.Id }, null)</td>
                    }
                }

            </tr>
        }
    </tbody>
</table>
