@using real_estate_agency.Models.ViewModels;
@model UserLoginViewModel
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h1>Вход</h1>
        @Html.ValidationSummary(false)
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnURL" value="@ViewBag.returnURL" />
            <div>
                <label>Логин или Email</label>
                @Html.TextBoxFor(x => x.LoginOrEmail)
            </div>
            <div>
                <label>Пароль</label>
                @Html.PasswordFor(x => x.Password)
            </div>
            <button type="submit">Войти</button>
        }
        @Html.ActionLink("Забыли пароль? Не беда...", "PasswordResetRequest", "Account")
    </div>
</body>
</html>
