@using real_estate_agency.Models.ViewModels;
@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/header.cshtml";
}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4">Смена пароля</h3>
                @Html.ValidationSummary(false)
                <fieldset>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.Token)
                        <div class="form-group">
                            @Html.DisplayTextFor(x => x.Email)
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control input-lg", placeholder = "Введите пароль" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Повторите пароль" })
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" value="Подтвердить" type="submit">
                    }
                    @Html.ActionLink("Восстановление пароля", "PasswordResetRequest", "Account", new { @class = "reset-password-string" })
                </fieldset>
            </div>
        </div>
    </div>
</div>
