@using real_estate_agency.Models.ViewModels;
@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div>
        <h1>Смена пароля</h1>
        @Html.ValidationSummary(false)
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Token)
            <div>
                <label>Email: </label>
                @Html.DisplayTextFor(x => x.Email)
            </div>
            <div>
                <label>Пароль</label>
                @Html.PasswordFor(x => x.Password)
            </div>
            <div>
                <label>Подтвердите пароль</label>
                @Html.PasswordFor(x => x.ConfirmPassword)
            </div>
            <button type="submit">ОК!</button>
        }
    </div>
</body>
</html>
