@using real_estate_agency.Models;
@using real_estate_agency.Resources;
@model IEnumerable<AppUser>
@{
    Layout = "~/Views/Shared/header.cshtml";
}

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card card-body">
                <h3 class="text-center mb-4">@Resource.AdminPanel</h3>
                <!--Prices-->
                <div class="mx-auto">
                    <h4 class="text-center mb-5">@Resource.AddPremium</h4>
                    @using (Ajax.BeginForm("AddPrice", "Admin", null, new AjaxOptions { UpdateTargetId = "prices-list" }))
                    {
                        <div class="form-group">
                            <label for="adminpanel-days">@Resource.PremiumDaysCount:</label>
                            <input class="form-control" style="max-width: 300px;" id="adminpanel-days" name="days" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="adminpanel-amount">@Resource.PremiumQuantity:</label>
                            <input class="form-control" style="max-width: 300px;" id="adminpanel-amount" name="amount" type="text" />
                        </div>
                        <button class="btn btn-primary" type="submit">@Resource.AddQuantity</button>
                    }
                    <br />
                    <div id="prices-list">
                        @{ Html.RenderAction("PricesList", "Admin"); }
                    </div>
                </div>
                <fieldset>
                    <h4 class="text-center mb-5">@Resource.Moderators</h4>
                    <table class="table table-responsive-sm">
                        <thead>
                            <tr>
                                <th>@Resource.Name</th>
                                <th>@Resource.Login</th>
                                <th>Email</th>
                                <th>@Html.ActionLink(Resource.AddModerator, "CreateModerator")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AppUser moder in Model)
                            {
                                <tr>
                                    <td>@moder.Name</td>
                                    <td>@moder.UserName</td>
                                    <td>@moder.Email</td>
                                    <td>@Html.ActionLink(@Resource.Delete, "DeleteModerator", new { id = moder.Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br /><br /><br />
                    <h4 class="text-center mb-5">@Resource.Users</h4>
                    <div id="search-user-panel">
                        @{ Html.RenderAction("SearchUserPanel", "Moderator"); }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>