@using real_estate_agency.Models;
@using real_estate_agency.Resources;
@model IEnumerable<Price>

<h4 class="text-center mb-5">@Resource.PremiumCostTable</h4>
<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th>@Resource.PremiumDaysCount</th>
            <th>@Resource.PremiumQuantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Price price in Model)
        {
            <tr>
                <td>@price.Days</td>
                <td>@price.Amount грн</td>
                <td>@Ajax.ActionLink(Resource.Delete, "DeletePrice", "Admin", new { id = price.Id }, new AjaxOptions { UpdateTargetId = "prices-list" })</td>
            </tr>
        }
    </tbody>
</table>
