@using PagedList;
@using PagedList.Mvc;
@using real_estate_agency.Infrastructure;
@using real_estate_agency.Models.ViewModels;

@model MainPageViewModel

@Styles.Render("~/Content/fancybox")

@foreach (var item in Model.PagedListModel)
{
    <div class="box col-xl-3 col-md-6 col-sm-12 col-xs-12">
        @if (UserStatusDirectory.UserCanDeleteAd(User, item))
        {
            @Html.ActionLink(" ", "Remove", "Ads",
                                                new { id = item.Id },
                                                new
                                                {
                                                    @class = "remove",
                                                    onclick = "return confirm('Действительно удалить?');"
                                                })
        }
        @if (!UserStatusDirectory.IsOwnerOfAd(User, item))
        {
            <div id="marks-@item.Id">
                <!--THIS LINE-->
                <!--{Html.RenderAction("Marks", "Ads", new { id = item.Id });}-->
            </div>
        }
        else
        {
            @Html.ActionLink(" ", "Edit", "Ads", new { id = item.Id }, new { @class = "edit" })
        }
        <center><p class="type">@item.Type</p></center>
        <a class="single-item" href="@Url.Content(item.PrevImage)">
            <div class="img-box" style="background-image: url(@Url.Content(item.PrevImage))">
                <div class="quantity-box">
                    @if (item.Currency == Model.Currency || Model.Currency == null)
                {
                        <strong>@item.Value @item.Currency</strong>
                    }
                    else
                    {
                        double k = real_estate_agency.Infrastructure.CurrencyOperations.GetСoefficient(item.Currency, Model.Currency);
                        int res = (int)(item.Value * k);
                        <strong>@(res) @Model.Currency</strong>
                    }
                </div>
            </div>
        </a>
            
        <div class="info-box">
            <a href="/Ads/Details/@item.Id.ToString()">
                <div class="alert title">@item.Title</div>
            </a>
            <p><strong>Категория:</strong> @item.Category</p>
            <p><strong>Адрес:</strong> @item.Address</p>
            
            <p>@Html.ActionLink("Подробнее", "Details", "Ads", new { id = item.Id }, new { @class = "" })</p>
        </div>
        <div class="clearfix"></div>
    </div>
}
<br />
<div id="pagesSwitch" class="pagesSwitch col-md-12 col-sm-12 col-lg-12 col-xs-12">
    @Html.PagedListPager((IPagedList)Model.PagedListModel, page => Url.Action("Ad", "Home", new
    {
        Currency = Model.Currency ?? "",
        MaxArea = Model.MaxArea,
        MinArea = Model.MinArea,
        MaxQuantity = Model.MaxQuantity,
        MinQuantity = Model.MinQuantity,
        MinFloor = Model.MinFloor,
        MaxFloor = Model.MaxFloor,
        MaxRoomsCount = Model.MaxRoomsCount,
        MinRoomsCount = Model.MinRoomsCount,
        Page = page
    }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "results" }))
</div>

@Scripts.Render("~/bundles/fancybox")
@Scripts.Render("~/bundles/fancybox-gallery-single")