@{
    Layout = "~/Views/Shared/header.cshtml";
}

<main>
    @foreach (var item in ViewBag.Ads)
    {
        var src = item.PrevImage;
        if (item.PrevImage == null)
        {
            src = "../../Content/images/nophoto.png";
        }
        <div class="information">
            <div class="detail-title">
                <h2>@item.Title</h2>
            </div>
            <div class="row">
                <div class="prev-image">
                    <img src="@src" />
                </div>
                <div class="general-info">
                    <p><strong>Тип: </strong>@item.Type </p>
                    <p><strong>Адрес: </strong><span id="Address">@item.Address</span> </p>
                    <p><strong>Комнат: </strong> @item.RoomsCount </p>
                    @if (item.Floors != null && item.FloorsCount != null)
                    {
                        <p><strong>Этаж: </strong>   @item.Floors из @item.FloorsCount </p>
                    }
                    @if (item.Area != null)
                    {
                        <p><strong>Площадь: </strong>@item.Area </p>
                    }
                    <p><strong>Цена: </strong>   @item.Value </p>
                    <p><strong>Арендатор: </strong>@item.Author </p>
                    <div class="phone-set">
                        <p><strong>Телефон(ы): </strong></p>
                        @foreach (var phoneItem in ViewBag.PhoneItems)
                        {
                            <p>@phoneItem</p>
                        }
                    </div>
                </div>
            </div>
            <div class="description">
                <p>@item.Details</p>
            </div>
            <div class="image-set">
                @foreach (var i in ViewBag.ImgItems)
                {
                    <img src='@i' />
                }
            </div>
            <div class="map-block">
                <div id="map"></div>
            </div>
        </div>
    }
</main>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs0eQvxU2jsqf71-Smlevn-NsX8W_V74g&callback=initMap"></script>
<script src="~/Scripts/mapInitialize.js"></script>
