@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        #map{
            height: 500px;
            width: 800px;
            background-color: gray;
        }
    </style>
    <script src="~/Scripts/mapInitialize.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs0eQvxU2jsqf71-Smlevn-NsX8W_V74g&callback=initMap"></script>
</head>
<body>
    <div>
        <h3>Подробности</h3>
        <table>
            @foreach (var item in ViewBag.Ads)
            {
                <tr><p>ID @item.Id</p></tr>
                    <tr><p>Header @item.Title</p></tr>
                    <tr><p>Type @item.Type</p></tr>
                    <tr><p>City <span id="City">@item.City</span></p></tr>
                    <tr><p>Region @item.Region</p></tr>
                    <tr><p>Address <span id="Address">@item.Address</span></p></tr>
                    <tr><p>Area: @item.Area</p></tr>
                    <tr><p>Price: @item.Price</p></tr>
                    <tr><p>Phone: @item.Phone</p></tr>
                    <tr><p>Latitude: @item.Latitude</p></tr>
                    <tr><p>Longitude: @item.Longitude</p></tr>
                    <tr><div id="map"></div></tr>
            }
        </table>
        <form method="POST" action="https://www.liqpay.com/api/3/checkout"
              accept-charset="utf-8">
            <input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTkwNDY5MDI2OSIsImFtb3VudCI6IjEwMDUwMCIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQnNC90LUg0L3QsCDQu9C10YfQtdC90LjQtSIsInR5cGUiOiJidXkiLCJsYW5ndWFnZSI6InJ1In0=" />
            <input type="hidden" name="signature" value="Zi+s13IxDwwMIlmiezcDDe+EK7A=" />
            <input type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png" name="btn_text" />
        </form>
    </div>
</body>
</html>
