@using real_estate_agency.Models;
@model Ad
@{
    Layout = "~/Views/Shared/header.cshtml";
}

@using real_estate_agency.Infrastructure;

<main>
    <div class="add-title">
        <h2>Edit the Ad</h2>
    </div>
    <form method="post" action="#">
        <input type="hidden" name="UserAuthorId" value="@Model.UserAuthorId" />
        <input type="hidden" name="AdUrl" value="@Model.AdUrl" />
        <div class="add-container">
            <table class="add-table">
                <tr>
                    <th>prevImage</th>
                    <td>
                        <img src="@Model.PrevImage" />
                        <input type="text" name="PrevImage" value="@Model.PrevImage" />
                    </td>
                </tr>
                <tr>
                    <th>Заголовок</th>
                    <td><input type="text" name="Title" value="@Model.Title" /></td>
                </tr>
                <tr>
                    <th>Категория</th>
                    <td><input type="text" name="Type" value="@Model.Type" /></td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td><input type="text" name="Address" value="@Model.Address" /></td>
                </tr>
                <tr>
                    <th>Площадь</th>
                    <td><input type="text" name="Area" value="@Model.Area" /></td>
                </tr>
                <tr>
                    <th>Автор</th>
                    <td><input type="text" name="Author" value="@Model.Author" /></td>
                </tr>
                <tr>
                    <th>Цена</th>
                    <td><input type="text" name="Value" value="@Model.Value" /></td>
                </tr>
                <tr>
                    <th>Валюта</th>
                    <td><input type="text" name="Currency" value="@Model.Currency" /></td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td><textarea name="Details">@Model.Details.ToString()</textarea></td>
                </tr>
                <tr>
                    <th>Этаж</th>
                    <td><input type="text" name="Floors" value="@Model.Floors" /></td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td><input type="text" name="FloorsCount" value="@Model.FloorsCount" /></td>
                </tr>
                <tr>
                    <th>Количество комнат</th>
                    <td><input type="text" name="RoomsCount" value="@Model.RoomsCount" /></td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    @foreach (var phoneItem in StringImgPhoneConverter.StringToList(Model.Phone))
                    {
                        <td><input type="text" name="Phone" value="@phoneItem" /></td>
                    }
                </tr>
                <tr>
                    <td class="add-submit" colspan="2"><input type="submit" value="Изменить" /></td>
                </tr>
            </table>
        </div>
    </form>
}
</main>