@using real_estate_agency.Models.ViewModels;
@model MainPageViewModel

@{
    Layout = "~/Views/Shared/header.cshtml";
}
<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="parser-block">
                @using (Html.BeginForm("Click", "Home"))
                {
                    <input type="submit" value="TBA Parser" class="btn btn-default" />
                }
                @using (Ajax.BeginForm("AdFilter", "Home", null, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "filters" }))
                {
                    <div class="filter sort">
                        @Html.DropDownList("FlatRentType", new List<SelectListItem> {
                                    new SelectListItem() {Text="Все типы", Value="All"},
                                    new SelectListItem() {Text="Долгосрочная аренда квартир", Value="Долгосрочная аренда квартир"},
                                    new SelectListItem() {Text="Квартиры посуточно", Value="Квартиры посуточно"},
                                    new SelectListItem() {Text="Квартиры с почасовой оплатой", Value="Квартиры с почасовой оплатой"}
                           }, new { @class = "sort-dropdown" })
                        @Html.DropDownList("SortType", new List<SelectListItem> {
                                    new SelectListItem() {Text="Не сортировать", Value="valueNone"},
                                    new SelectListItem() {Text="По возрастанию цены", Value="valueAsc"},
                                    new SelectListItem() {Text="По убыванию цены", Value="valueDesc"}
                           }, new { @class = "sort-dropdown" })
                    </div>
                    <div class="filter quantity">
                        @Html.EditorFor(model => model.MinQuantity, new { htmlAttributes = new { @class = "filter-field", @placeholder = "Цена от" } })
                        @Html.EditorFor(model => model.MaxQuantity, new { htmlAttributes = new { @class = "filter-field", @placeholder = "Цена до" } })
                    </div>
                    <div class="filter rooms">
                        @Html.EditorFor(model => model.MinRoomsCount, new { htmlAttributes = new { @class = "filter-field", @placeholder = "Комнат от" } })
                        @Html.EditorFor(model => model.MaxRoomsCount, new { htmlAttributes = new { @class = "filter-field", @placeholder = "Комнат до" } })
                    </div>
                    <div class="filter floors">
                        @Html.EditorFor(model => model.MinFloor, new { htmlAttributes = new { @class = "filter-field", @placeholder = "Этажность от" } })
                        @Html.EditorFor(model => model.MaxFloor, new { htmlAttributes = new { @class = "filter-field", @placeholder = "Этажность до" } })
                    </div>
                    <div class="filter search">
                        <input class="filter-search" type="submit" value="Search" />
                    </div>

                }
            </div>
        </div>
        <div class="block col-md-12">
            <div id="results" class="row">
                @{Html.RenderAction("AdFilter");}
            </div>
        </div>
    </div>
    </div>
</main>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")