@model PagedList.IPagedList<real_estate_agency.Models.Ad>
@using PagedList.Mvc


@{
    Layout = "~/Views/Shared/header.cshtml";
}
<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

   <main>
    <div class="container-fluid">
        <div class="row">
            <div class="parser-block">
                @using (Html.BeginForm("Click", "Home"))
                {
                    <input type="submit" value="TBA Parser" class="btn btn-default" />
                }
            </div>
            <div class="block col-md-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="box col-md-6">
                            @Html.ActionLink(" ", "Remove", new { id = item.Id }, new { @class = "remove" })
                            <p class="title">@item.Title</p>
                            <div class="row">
                                <div class="img-box">
                                    <img src="@item.PrevImage">
                                </div>
                                <div class="text-box">
                                    <p><strong>Тип:</strong> @item.Type</p>
                                    <p><strong>Адрес:</strong> @item.Address</p>
                                    <p><strong>Стоимость:</strong> @item.Value</p>
                                    <p><a href="/Home/Details/@item.Id">Подробнее</a></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="pagesSwitch">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
        { LinkToFirstPageFormat = "<<", LinkToPreviousPageFormat = "Назад",
        LinkToNextPageFormat = "Вперед", LinkToLastPageFormat = ">>"})
    </div>
</main>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>